// REGULAR
@font-face {
  font-family: 'Inter-regular';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter/Inter-Regular.woff2?v=3.12") format("woff2"),
       url("../fonts/Inter/Inter-Regular.woff?v=3.12") format("woff");
}


@font-face {
  font-family: 'Inter-Extrabold';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/Inter/Inter-ExtraBold.woff2?v=3.12") format("woff2"),
       url("../fonts/Inter/Inter-ExtraBold.woff?v=3.12") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 800;
  font-display: swap;
  src: url("Inter-ExtraBoldItalic.woff2?v=3.12") format("woff2"),
       url("Inter-ExtraBoldItalic.woff?v=3.12") format("woff");
}

@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600&display=swap');

p {
  font-size: 18px;
  // line-height: 44px;
  // font-family: 'Work Sans', sans-serif;
  font-family: 'Inter-regular';
  font-weight: 400;
  letter-spacing: .8px;
}

h4 {
  // font-size: 2.5rem;
  // font-family: 'Work Sans', sans-serif;
  // font-weight: 500;
  // font-style: normal;
  // font-weight: 700;
  font-size: 57px;
  letter-spacing: -0.29px;
  font-style: normal;
  margin: 0px;
  line-height: 64px;
  text-transform: uppercase;
}

h5 {
  font-size: 1.4rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-style: normal;
  // font-weight: 700;
  font-style: normal;
  margin:0px;
  // text-transform: uppercase;
}

a {
  color: black;
  text-decoration: none;
}

hr {
  height: 10px;
  color: black;
}

.hoverit {
  transition: all 0.3s;
}
.hoverit:hover {
  transform: translate(0, -5px);
}