// @font-face {
//   font-family: "GT Haptik Black";
//   src: url("../fonts/gt-haptik/GT-Haptik-Black.ttf") format("ttf"),
//        url("../fonts/gt-haptik/GT-Haptik-Black.otf") format("otf"),
//        url("../fonts/gt-haptik/GT-Haptik-Black.woff") format("woff"),
//        url("../fonts/gt-haptik/GT-Haptik-Black.woff2") format("woff2"),
//        url("../fonts/gt-haptik/GT-Haptik-Black.eot") format("eot");
// }
// @font-face {
//   font-family: "GT Haptik Bold";
//   src: url("../fonts/gt-haptik/GT-Haptik-Bold.ttf") format("ttf"),
//        url("../fonts/gt-haptik/GT-Haptik-Bold.otf") format("otf"),
//        url("../fonts/gt-haptik/GT-Haptik-Bold.woff") format("woff"),
//        url("../fonts/gt-haptik/GT-Haptik-Bold.woff2") format("woff2"),
//        url("../fonts/gt-haptik/GT-Haptik-Bold.eot") format("eot");
// }
// @font-face {
//   font-family: "GT Haptik Regular";
//   src: url("../fonts/gt-haptik/GT-Haptik-Regular.ttf") format("ttf"),
//        url("../fonts/gt-haptik/GT-Haptik-Regular.otf") format("otf"),
//        url("../fonts/gt-haptik/GT-Haptik-Regular.woff") format("woff"),
//        url("../fonts/gt-haptik/GT-Haptik-Regular.woff2") format("woff2"),
//        url("../fonts/gt-haptik/GT-Haptik-Regular.eot") format("eot");
// }

// @font-face {
//   font-family: "telegrotesknext Thin";
//   src: url("../fonts/telegrotesknext/telegrotesknext-thin.woff") format("woff");
// }

// @font-face {
//   font-family: "GT Haptik Regular";
//   src: url("../fonts/gt-haptik/GT-Haptik-Regular.ttf") format("ttf"),
//        url("../fonts/gt-haptik/GT-Haptik-Regular.otf") format("otf"),
//        url("../fonts/gt-haptik/GT-Haptik-Regular.woff") format("woff"),
//        url("../fonts/gt-haptik/GT-Haptik-Regular.woff2") format("woff2"),
//        url("../fonts/gt-haptik/GT-Haptik-Regular.eot") format("eot");
// }
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,500|IBM+Plex+Sans:100,100i,400,400i,700,700i&display=swap');

p {
  font-size: 1.2rem;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
}

h4 {
  font-size: 3rem;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  margin:0px;
}

a {
  color: black;
  text-decoration: none;
}

hr {
  height: 10px;
  color: black;
}

.hoverit {
  transition: all 0.3s;
}
.hoverit:hover {
  transform: translate(0, -5px);
}