$sm: 48rem;
$md: 62rem;
$lg: 75rem;

// REGULAR
// @font-face {
//   font-family: Inter-regular;
//   font-style:  normal;
//   font-weight: 400;
//   font-display: swap;
//   src: url("../fonts/Inter/Inter-Regular.woff2") format("woff2"),
//        url("../fonts/Inter/Inter-Regular.woff?") format("woff");
// }

// @font-face { 
//     font-family: "Inter-regular";
//     src: url("../fonts/Inter/Inter-Regular.woff2") format("woff2"),
//          url("../fonts/Inter/Inter-Regular.woff")format("woff"); 
// }

// @font-face {
//   font-family: 'Inter-Extrabold';
//   font-style:  normal;
//   font-weight: 800;
//   font-display: swap;
//   src: url("./fonts/Inter/Inter-ExtraBold.woff2?v=3.12") format("woff2"),
//        url("./fonts/Inter/Inter-ExtraBold.woff?v=3.12") format("woff");
// }

// @font-face {
//   font-family: 'Inter';
//   font-style:  italic;
//   font-weight: 800;
//   font-display: swap;
//   src: url("./fonts/Inter/Inter-ExtraBoldItalic.woff2?v=3.12") format("woff2"),
//        url("./fonts/Inter/Inter-ExtraBoldItalic.woff?v=3.12") format("woff");
// }

@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600&display=swap');

h6 {
  font-size: 1rem;
  line-height: 125%;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

p {
  font-size: 1.625rem;
  line-height: 123%;
  // line-height: 44px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  letter-spacing: .8px;
}

h4 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 2.25rem;
    line-height: 111%;
  letter-spacing: -0.29px;
}

h5 {
  font-size: 1.4rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
//   font-weight: 500;
  font-style: normal;
  // font-weight: 700;
  font-style: normal;
  margin:0px;
  // text-transform: uppercase;
}

a {
  color: black;
  text-decoration: none;
}

hr {
  height: 10px;
  color: black;
}

.hoverit {
  transition: all 0.3s;
}
.hoverit:hover {
  transform: translate(0, -5px);
}

.undeline_hover {
  transition: all 0.8s ease-in-out;
}
.undeline_hover:hover {
  text-decoration: underline;
}


@media (max-width: 62rem) {
  h4 {
    font-size: 1.5rem;
    line-height: 37px;
  }
  h5 {
    padding-bottom: 20px;
  }
}