<section class="information" id="anchor_2">
    <!-- <p>ABOUT</p> -->
    <div class="container" id="info_container">
      <!-- BIO -->
      <div class="grid">
        <div class="section-title column-xs-12 column-md-4">
          <h4 class="para_title">BIÓ</h4>
        </div>
        <div class="section-content column-xs-12 column-md-4 para_container">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat quidem excepturi eos magnam autem. Laudantium autem possimus iure ex veritatis obcaecati, quaerat adipisci magni velit laboriosam, labore necessitatibus? Quis, ipsum!</p>
        </div>
        <div class="section-content column-xs-12 column-md-4 para_container">
          <P>⟶ Editorial design
            Design of printed objects – annual report, book, catalogue, periodical.</P>
            
          <p>⟶ Environment and experience
            Graphic, interactive, object and space design for event, exhibition, installation and interpretative path.</p>
            
          <p>⟶ Environmental graphic, wayshowing and wayfinding
            Design of custom signage objects and systems. Development of signage master plan and standards guide. Consulting.</P>
        </div>
      </div>
      <!-- EXPERIENCE -->
      <div class="grid">
        <div class="section-title column-xs-12 column-md-4">
          <h4 class="para_title">ĒXPERIENCE</h4>
        </div>
        <p class="section-content column-xs-12 column-md-8 para_container">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat quidem excepturi eos magnam autem. Laudantium autem possimus iure ex veritatis obcaecati, quaerat adipisci magni velit laboriosam, labore necessitatibus? Quis, ipsum!</p>
      </div>
      <!-- GET IN TOUCH -->
      <div class="grid">
        <div class="section-title column-xs-12 column-md-4">
          <h4 class="para_title">GET IN TOUCḦ</h4>
        </div>
        <div class="column-xs-12 column-md-8 para_container">
          <p>Ⓔ CHMORASAN@GMAIL.COM</p>
          <p>Ⓜ +44 7599309899</p>
        </div>
      </div>  
      <div class="container work_btn"></div>
        <div class="grid arrow">
        <div class="column-xs-12 column-md-12">
          <a href="#anchor_3"><img src="../assets/img/arrow_white.svg" class="arrow hoverit"></a>
        </div>
      </div>
    </div>
  </section>