<section class="gallery" id="anchor_1">
  
  <!-- <p class="p_work">WORK</p> -->
  <div class="container">
    <div class="grid">
      <div class="column-xs-12 column-sm-6 column-md-4">
        <figure class="img-container">
          <img src="../assets/img/web.jpg"/>
            <p class="caption">⟶ Project Description</p>
        </figure>
      </div>
      <div class="column-xs-12 column-sm-6 column-md-4">
        <figure class="img-container">
          <img src="../assets/img/web.jpg"/>
          <p class="caption">⟶ Project Description</p>
        </figure>
      </div>
      <div class="column-xs-12 column-sm-6 column-md-4">
        <figure class="img-container">
          <img src="../assets/img/web.jpg"/>
          <p class="caption">⟶ Project Description</p>
        </figure>
      </div>
      <div class="column-xs-12 column-sm-6 column-md-4">
        <figure class="img-container">
          <img src="../assets/img/web.jpg"/>
          <p class="caption">⟶ Project Description</p>
        </figure>
      </div>
      <div class="column-xs-12 column-sm-6 column-md-4">
        <figure class="img-container">
          <img src="../assets/img/web.jpg"/>
          <p class="caption"><a href="/proj-1.html">⟶ Project Description</a></p>
        </figure>
      </div>
      <div class="column-xs-12 column-sm-6 column-md-4">
        <figure class="img-container">
          <img src="../assets/img/web.jpg"/>
          <p class="caption">⟶ Project Description</p>
        </figure>
      </div>
      <div class="column-xs-12 column-sm-6 column-md-4">
        <figure class="img-container">
          <img src="../assets/img/web.jpg"/>
          <a class="caption" href="">Here</a>
          <a href="work/about/">Contact</a>
        </figure>
      </div>
      <div class="column-xs-12 column-sm-6 column-md-4">
        <figure class="img-container">
          <img src="../assets/img/web.jpg"/>
          <p class="caption" href="../about.html">⟶ Project Description</p>
        </figure>
      </div>
      <div class="column-xs-12 column-sm-6 column-md-4">
        <figure class="img-container">
          <img src="../assets/img/work/blue.jpg"/>s
          <p class="caption">⟶ Blue Energy - Web WebDesign</p>
        </figure>
      </div>
      <div class="column-xs-12 column-sm-6 column-md-4">
        <figure class="img-container">
          <img src="../assets/img/work/pantone.jpg"/>
          <p class="caption">⟶ Pantone Gallery App - Concept</p>
        </figure>
      </div>
      <div class="column-xs-12 column-sm-6 column-md-4">
        <figure class="img-container">
          <img src="../assets/img/work/DAHOUSE.jpg"/>
          <p class="caption">⟶ DAHOUSE Productions - WebDesign</p>
        </figure>
      </div>
      <div class="column-xs-12 column-sm-6 column-md-4">
        <figure class="img-container">
          <img src="../assets/img/work/Gallery_App.jpg"/>
          <p class="caption">⟶ Picture Gallery App - Concept</p>
        </figure>
      </div>
      <div class="column-xs-12 column-sm-6 column-md-4">
        <figure class="img-container">
          <img src="../assets/img/work/book.jpg"/>
          <p class="caption">⟶ Booking App - Concept</p>
        </figure>
      </div>
      <div class="column-xs-12 column-sm-6 column-md-4">
        <figure class="img-container">
          <img src="../assets/img/work/ARC.jpg"/>
          <p class="caption">⟶ Architecture Studio Site - WebDesign</p>
        </figure>
      </div>
      <div class="column-xs-12 column-sm-6 column-md-4">
        <figure class="img-container">
          <img src="../assets/img/work/GDPR.jpg"/>
          <p class="caption">⟶ GDPR On boarding</p>
        </figure>
      </div>
    </div>
  </div>

</section>