<section class="gallery" id="anchor_1">
  
  <!-- <p class="p_work">WORK</p> -->
  <div class="container">
    <div class="grid">
      <div class="column-xs-12 column-sm-6 column-md-4">
        <figure class="img-container">
          <img src="https://source.unsplash.com/8b1cWDyvT7Y" />
            <p class="caption">↘ Project Description</p>
        </figure>
      </div>
      <div class="column-xs-12 column-sm-6 column-md-4">
        <figure class="img-container">
          <img src="https://source.unsplash.com/5VXH4RG88gc" />
          <p class="caption">↘ Project Description</p>
        </figure>
      </div>
      <div class="column-xs-12 column-sm-6 column-md-4">
        <figure class="img-container">
          <img src="https://source.unsplash.com/XtUd5SiX464">
          <p class="caption">↘ Project Description</p>
        </figure>
      </div>
      <div class="column-xs-12 column-sm-6 column-md-4">
        <figure class="img-container">
          <img src="https://source.unsplash.com/8b1cWDyvT7Y" />
          <p class="caption">↘ Project Description</p>
        </figure>
      </div>
      <div class="column-xs-12 column-sm-6 column-md-4">
        <figure class="img-container">
          <img src="https://source.unsplash.com/5VXH4RG88gc" />
          <p class="caption">↘ Project Description</p>
        </figure>
      </div>
      <div class="column-xs-12 column-sm-6 column-md-4">
        <figure class="img-container">
          <img src="https://source.unsplash.com/XtUd5SiX464">
          <p class="caption">↘ Project Description</p>
        </figure>
      </div>
      <div class="column-xs-12 column-sm-6 column-md-4">
        <figure class="img-container">
          <img src="https://source.unsplash.com/8b1cWDyvT7Y" />
          <p class="caption">↘ Project Description</p>
        </figure>
      </div>
      <div class="column-xs-12 column-sm-6 column-md-4">
        <figure class="img-container">
          <img src="https://source.unsplash.com/5VXH4RG88gc" />
          <p class="caption">↘ Project Description</p>
        </figure>
      </div>
      <div class="column-xs-12 column-sm-6 column-md-4">
        <figure class="img-container">
          <img src="https://source.unsplash.com/XtUd5SiX464">
          <p class="caption">↘ Project Description</p>
        </figure>
      </div>
    </div>
  </div>

</section>